.home {
  width: 100%;
  min-height: 100vh;
  background-image:linear-gradient(
                  to right bottom,
                  $medium-opaque-black,
                  $medium-opaque-black),
  url('../img/BG-img.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__heading {
    line-height: 1.5;
    color: $color-white;
    font-size: 2rem;
    width: 70%;
    text-align: center;

    &-span {
      font-family: 'Permanent Marker', serif;
      margin: 0 10px;
    }
  }
}

.main-container {
  min-width: 100%;
  color: $color-white;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-container{
  height: 60vh;

  &__content{
    margin-top: 4rem;
  }
}
