.home {
  width: 100%;
  min-height: 100vh;
  background-image:linear-gradient(
                  to right bottom,
                  $medium-opaque-black,
                  $medium-opaque-black),
                  url('../img/BG-img.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__heading {
    line-height: 1.5;
    color: $color-white;
    font-size: 2rem;
    width: 70%;
    text-align: center;

    &-span {
      font-family: 'Permanent Marker', serif;
      margin: 0 10px;
    }
  }
}